<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lilong.broadcasttest">

    <application
        android:name=".application.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SecondActivity"/>

        <receiver android:name=".activity.MainActivity$StaticRegisteredTestReceiver">
            <intent-filter>
                <action android:name="action_static_registered_test"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".service.TestJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>